
.icons-bar {
    background-color: #a87a84;
}
.menu {
    color: #8b8b8b;
}
.menu ul li a:hover {
    color: #a87a84;  
}
.logo {
   /*float: left;
    padding: 0px;
    width: 70%;
    height: 50px;*/

    position: relative;
    width: 990px;
    margin: 0 auto;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.card-largura {
    width: 18rem;
}
  /*alinhar a altura das imagens.*/
  .card-imagem-posicao {
    height:200px;
    object-fit:cover;
    object-position: 0 60%;
}

.col-4 {
    float: left;
    width: 30%;
    text-align: center;
}
.col-4 img {
    cursor: pointer;
    margin: 0 auto;    
}

.bloco-logos img{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {

    background: #9c6671;
}

.footer-2 {
    background-color: #a87a84;
    color: #c1c1c1;
    height: 90px;
    text-align: center;
}

.redes-sociais-2 ul li {
    margin-left: 25px;
    display: inline-block;
    
}
.redes-sociais-2 {
    top: 28px;
    position: absolute;
    text-align: center;
    width: 48%;
}



